@charset 'UTF-8';
body {
    font-weight: 200;
}

.navbar-brand {
    font-family: fantasy;
}

.panel-heading {
    margin-top: 0rem;
}

.position-Buy {
    color: rgb(96, 128, 255);
}

.position-Sell {
    color: rgb(255, 128, 96);
}